/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,800;1,700&display=swap');

/* share styles */
* {
    font-family: 'Work Sans', sans-serif;
}

body {
    width: 80%;
    margin: auto;
}

section {
    margin-bottom: 100px;
}

.btn-primary {
    width: 174px;
    height: 52px;
    background: #FF5400;
    color: white;
    border-radius: 8px;
    border: 0;
}

.section-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.section-mini-title {
    color: #131318;
    font-size: 24px;
    font-weight: 800;

}

.section-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}



/* nav bar styles start */


nav {
    background-color: white;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    display: flex;
}

.nav-details {
    display: flex;
}

nav a {
    color: #424247;
    text-decoration: none;
    padding: 14px 16px;
    display: block;
    font-size: 18px;
    font-weight: 400;
}

nav a .logo-name-first-part {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

nav a .logo-name-second-part {
    color: #FF5400;
    font-size: 36px;
    font-family: Mulish;
    font-weight: 800;
}

.nav-home {
    color: #FF5400;
    font-size: 18px;
    font-weight: 700;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

/* navbar styels end */

/* background head img section start*/

.head-image {

    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 80%), url("../images/Group\ 13.png");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 50px 20px;
    border-radius: 15px;
}

.head-details {
    width: 70%;
    margin: auto;
    padding-top: 200px;
}

.head-title {
    color: white;
    font-size: 64px;
    font-weight: 800;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;

}

.head-description {
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;

}


.container-input {
    width: 100%;
    margin-top: 20px;

}

.input-details {
    display: flex;
    gap: 15px;
    width: 70%;
    height: 50px;
    margin: auto;
}

.input-details input {
    border: 0;
    border-radius: 8px;
    padding-left: 15px;
}

.find {
    background: #FF5400;
}

.find::placeholder {
    color: white;
}

/* our popular tours styles */
.section-details {
    display: flex;
    gap: 20px;
}

.section-right-site {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}



/* destination styles */
.destination-description-section {
    width: 70%;
    margin: auto;
    text-align: center;
}

.image-container {
    position: relative;
    text-align: center;
}

.text-over-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
}

.tour-place-img {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.img-one {
    width: 573px;
    height: 300px;
}

.img-two {
    width: 573px;
    height: 300px;
}

/* tour place img part two, 3 images styles */

.tour-place-img-part-two {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}


/* tour place img part three, 2 images styles */

.tour-place-img-part-three {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

/* choose us section styles  */
.choose-us-area {
    width: 70%;
    margin: auto;
    text-align: center;
}

/* why choose us section */
.choose-option {
    display: flex;
    gap: 24px;
    padding-left: 32px;
    margin-bottom: 50px;
}

/* why choose us section 2nd part */

.best-price-area {
    width: 40%;
    margin: auto;
}

/* deals & discounts area styles */
.offer-describ {
    width: 70%;
    margin: auto;
    text-align: center;
}

/* deals & discounts images secion */
.tour-booking-area {
    width: 1170px;
    height: 500px;
    background-image: url("../images/Group\ 39.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

.tour-booking-descrip {
    width: 579px;
    height: 389px;
    background: rgba(255, 255, 255, 0.80);
    border-radius: 16px;
    border: 2px white solid;
    margin-left: 530px;
}

.tour-booking-area-two {
    display: flex;
    justify-content: left;
    align-items: left;
}

.tour-booking-descrip-two {
    margin-left: 30px;
}

.booking-title {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: 50px;
}

.title-icon {
    margin-left: 20px;
}

.tour-area-name {
    margin-left: 25px;
}

.price {
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
}

#packages-btn {
    margin-left: 500px;
}

/* simple perfect place section */

.simple-place-section {
    display: flex;
    gap: 30px;
}

.video-container {
    position: relative;
    text-align: center;
}

.text-over-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
}

/* Newsletter sections design*/
.input-letter-site {
    display: block;
    margin-bottom: 50px;
    width: 393px;
    height: 52px;
    border: 0;
}

.letter-input-part {
    border-radius: 16px;
    border: 1px #FF5400 solid;
    padding: 15px;
}

#btn-subscribe {
    background: #FF5400;
    color: white;
    border-radius: 8px;
    border: 0;
}

.letter-part {
    display: flex;
    gap: 50px;
}

.travel-container {
    position: relative;
    text-align: center;
}

.text-over-image-travel {
    position: absolute;
    top: 73%;
    left: 49%;
    transform: translate(-50%, -50%);
    width: 324px;
    height: 100px;
    transform: rotate(-19.63deg);
    transform-origin: 0 0;
    background: #FF5400;
    border-radius: 16px;

}

.travel-font {
    color: white;
    font-size: 24px;
    font-weight: 400;
}

.travel-font-save {
    color: white;
    font-size: 32px;
    font-weight: 800;
}

/* footer area styles  */
.footer-area {
    display: flex;
    gap: 10px;
    margin-left: 450px;
}

.footer-area-name-part-one {
    color: #131318;
    font-size: 21px;
    font-weight: 800;
}

.footer-area-name-part-two {
    color: #FF5400;
    font-size: 21.54px;
    font-weight: 800;
}

.footer-img {
    margin-top: 10px;
}

.footer-description{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}

.footer-social-media{
    width: 80%;
    margin: auto;
    text-align: center;
}

footer{
    width: 100%; 
    height: 100%; 
    background: rgba(19, 19, 24, 0.05);
}

.small-footer{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}

/* extra work styles */
.video-area video{
    width: 500px;
    height: 200px;
    margin-top: 50px;
}

.extra-work{
    display: flex;
    gap: 80px;
}

#extra-head{
    width: 80%;
    margin: auto;
}

/* responsive styles start */

@media screen and (max-width: 600px) {

    nav,
    .logo,
    .nav-details,
    .input-details,
    .section-details,
    .tour-place-img,
    .tour-place-img-part-two,
    .tour-place-img-part-three,
    .choose-option,
    .best-price-area,
    .booking-title,
    .simple-place-section,
    .letter-part,
    .extra-work {
        flex-direction: column;
    }


    .footer-area{
        margin-left: 130px;
    }

    .text-over-image-travel {
        width: 250px;
        height: 70px;
    }

    .travel-font {
        color: white;
        font-size: 18px;
        font-weight: 300;
    }

    .video-img {
        width: 400px;
    }

    .head-details {
        width: 100%;
        /* margin: auto; */
        padding-top: 20px;
    }

    .tour-booking-area {
        width: 98%;
        height: 550px;
    }

    .tour-booking-descrip {
        width: 600px;
        height: 480px;
        background: rgba(255, 255, 255, 0.80);
        border-radius: 16px;
        border: 2px white solid;
        margin: 5px;
    }

    .tour-area-name {
        margin-left: 15px;
    }

    .best-price-area {
        width: 100%;
        margin-left: 45px;
    }

    .head-title {
        color: white;
        font-size: 54px;
        font-weight: 700;
        justify-content: center;
        text-align: center;
        margin: auto;
        padding: 0;
    }

    .section-right-site img {
        width: 100%;
    }

    .destination-img {
        width: 500px;
        height: 250px;
    }

    #packages-btn {
        margin-left: 25px;
    }



    nav a {
        width: 100%;
        text-align: center;
    }
}